* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(90, 224, 72);
    color: white;
    height: 54px;
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul {
    list-style-type: none;
}

.gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background-color: rgb(224, 224, 162);
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    position: relative;
}

.box {
    border: 2px solid black;
    cursor: pointer;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box:hover {
    background-color: violet;
}
.gameInfo h1{
    font-size: 2.5rem;
}
.gameInfo {
    padding: 0 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imgbox iframe {
    /* display: none; */
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    margin: 17px 20px;
    padding: 4px 15px;
    border-radius: 10px;
    background-color: yellowgreen;
    cursor: pointer;
}
.line{
    background-color: black;
    width: 0;
    height: 3px;
    position: absolute;
    background-color: aqua;
    transition: width 1s ease-in-out;
}

@media screen and (max-width:950px) {
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
         font-size: 1.5rem;
    }
    .congtainer{
        display: grid;
        grid-row: repeat(3,20vw);
        grid-template-columns: repeat(3, 20vw);

    }
}